snippet snip
`!p snip.rv='snippet'` ${1:trigger} "${2:description}" ${3:b}
${0:${VISUAL}}
`!p snip.rv='endsnippet'`
endsnippet

snippet v
{VISUAL}
endsnippet

snippet $
${${1:1}:${0:text}}
endsnippet
