#-- SNIPPET GLOBALS --------------------------------------------------
global !p
from javascript_snippets import (
	semi, space_before_function_paren, keyword_spacing
)
# from js_snippet_helpers import (specialRequire)
from jsSnippetHelpers import (specialRequire)
import vim
endglobal

snippet t "description" b
	`!p snip.rv=snip.ft`
endsnippet
