snippet filename "Complete path to current file" b
`!p snip.rv=snip.fn`
endsnippet

snippet basename "Complete path to current file" b
`!p snip.rv=snip.basename`
endsnippet

snippet test "Test snippet" b
`!p snip.rv='Test worked!'`
endsnippet
